In [211]:
import pandas as pd
import numpy as np

In [212]:
df=pd.read_csv("covid_toy.csv")

In [213]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [214]:
df.sample(5)

    age  gender  fever   cough       city has_covid
92   82  Female  102.0  Strong    Kolkata        No
66   51    Male  104.0    Mild    Kolkata        No
65   69  Female  102.0    Mild  Bangalore        No
26   19  Female  100.0    Mild    Kolkata       Yes
52   47  Female  100.0  Strong  Bangalore       Yes

In [215]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

### column_transformer--using--Normally

In [216]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [217]:
x_train,x_test,y_train,y_test=train_test_split(df.drop("has_covid",axis=1),df["has_covid"],test_size=0.2)

In [218]:
x_train

    age  gender  fever   cough       city
2    42    Male  101.0    Mild      Delhi
98    5  Female   98.0  Strong     Mumbai
15   70    Male  103.0  Strong    Kolkata
63   10    Male  100.0    Mild  Bangalore
18   64  Female   98.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
56   71    Male    NaN  Strong    Kolkata
66   51    Male  104.0    Mild    Kolkata
75    5    Male  102.0    Mild    Kolkata
95   12  Female  104.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

In [219]:
y_train

2      No
98     No
15    Yes
63     No
18    Yes
     ...
56     No
66     No
75    Yes
95     No
77     No
Name: has_covid, Length: 80, dtype: object

In [220]:
#impute
si=SimpleImputer()

In [221]:
x_train_f=si.fit_transform(x_train[["fever"]])
x_train_f.shape

(80, 1)

In [222]:
x_train_fever=pd.DataFrame(x_train_f,columns=x_train[["fever"]].columns)

In [223]:
type(x_train_fever)

pandas.core.frame.DataFrame

In [224]:
x_test_f=si.fit_transform(x_test[["fever"]])
x_test_f.shape

(20, 1)

In [225]:
x_test_fever=pd.DataFrame(x_test_f,columns=x_test[["fever"]].columns)

In [226]:
type(x_test_fever)

pandas.core.frame.DataFrame

In [227]:
#OrdinalEncoding--cough
oe=OrdinalEncoder(categories=[["Mild","Strong"]])
x_train_oe=oe.fit_transform(x_train[["cough"]])

In [228]:
x_train_cough=pd.DataFrame(x_train_oe,columns=x_train[["cough"]].columns)

In [229]:
type(x_train_cough)

pandas.core.frame.DataFrame

In [230]:
x_test_oe=oe.fit_transform(x_test[["cough"]])
x_test_oe.shape

(20, 1)

In [231]:
x_test_cough=pd.DataFrame(x_test_oe,columns=x_test[["cough"]].columns)

In [232]:
type(x_test_cough)

pandas.core.frame.DataFrame

In [233]:
#onehotencoding
ohe=OneHotEncoder(drop='first',sparse=False)

In [234]:
x_train_ohe=ohe.fit_transform(x_train[['gender','city']])
x_train_ohe.shape

C:\Users\nikie\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [235]:
type(x_train_ohe)

numpy.ndarray

In [236]:
x_train_ohe_names=ohe.get_feature_names_out(input_features=x_train[["gender","city"]].columns)

In [237]:
x_train_gender_city=pd.DataFrame(x_train_ohe,columns=x_train_ohe_names)

In [238]:
type(x_train_gender_city)

pandas.core.frame.DataFrame

In [239]:
x_test_ohe=ohe.fit_transform(x_test[["gender","city"]])
x_test_ohe.shape

C:\Users\nikie\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 4)

In [240]:
x_test_ohe_names=ohe.get_feature_names_out(input_features=x_test[["gender","city"]].columns)

In [241]:
x_test_gender_city=pd.DataFrame(x_test_ohe,columns=x_test_ohe_names)

In [242]:
type(x_test_gender_city)

pandas.core.frame.DataFrame

In [243]:
x_train_Age=x_train.drop(columns=["gender","fever","cough","city"]).values

In [244]:
x_train_age=pd.DataFrame(x_train_Age,columns=x_train[["age"]].columns)

In [245]:
type(x_train_age)

pandas.core.frame.DataFrame

In [246]:
x_test_Age=x_test.drop(columns=["gender","fever","cough","city"]).values

In [247]:
x_test_age=pd.DataFrame(x_test_Age,columns=x_train[["age"]].columns)

In [248]:
type(x_test_age)

pandas.core.frame.DataFrame

In [249]:
x_train_transformed=pd.concat([x_train_age,x_train_fever,x_train_cough,x_train_gender_city],axis=1)

In [250]:
x_train_transformed

    age       fever  cough  gender_Male  city_Delhi  city_Kolkata  city_Mumbai
0    42  101.000000    0.0          1.0         1.0           0.0          0.0
1     5   98.000000    1.0          0.0         0.0           0.0          1.0
2    70  103.000000    1.0          1.0         0.0           1.0          0.0
3    10  100.000000    0.0          1.0         0.0           0.0          0.0
4    64   98.000000    0.0          0.0         0.0           0.0          0.0
..  ...         ...    ...          ...         ...           ...          ...
75   71  100.861111    1.0          1.0         0.0           1.0          0.0
76   51  104.000000    0.0          1.0         0.0           1.0          0.0
77    5  102.000000    0.0          1.0         0.0           1.0          0.0
78   12  104.000000    0.0          0.0         0.0           0.0          0.0
79    8  101.000000    0.0          0.0         0.0           1.0          0.0

[80 rows x 7 columns]

In [251]:
x_test_transformed=pd.concat([x_test_age,x_test_fever,x_test_cough,x_test_gender_city],axis=1)

In [252]:
x_test_transformed

    age       fever  cough  gender_Male  city_Delhi  city_Kolkata  city_Mumbai
0    50  103.000000    0.0          0.0         0.0           1.0          0.0
1    14  101.000000    1.0          1.0         0.0           0.0          0.0
2    47  101.000000    1.0          1.0         0.0           0.0          0.0
3    51  101.000000    1.0          0.0         0.0           1.0          0.0
4    16  103.000000    0.0          0.0         0.0           0.0          0.0
5    38  101.000000    0.0          0.0         0.0           0.0          0.0
6    33  102.000000    1.0          0.0         1.0           0.0          0.0
7    56  104.000000    1.0          0.0         0.0           0.0          0.0
8    49  101.000000    0.0          0.0         1.0           0.0          0.0
9     6  104.000000    0.0          0.0         0.0           1.0          0.0
10   20  100.777778    1.0          0.0         0.0           0.0          1.0
11   81   98.000000    1.0          0.0         0.0           0.0          1.0
12   34  101.000000    1.0          0.0         1.0           0.0          0.0
13   14   99.000000    0.0          0.0         0.0           0.0          1.0
14    5  100.000000    0.0          0.0         0.0           1.0          0.0
15   22   99.000000    0.0          0.0         0.0           0.0          0.0
16   12   98.000000    1.0          1.0         0.0           0.0          0.0
17   27  100.000000    0.0          1.0         1.0           0.0          0.0
18   84  100.777778    0.0          0.0         0.0           0.0          0.0
19   71   98.000000    1.0          0.0         0.0           1.0          0.0

### column_transformer--Using--ColumnTransformer

In [253]:
from sklearn.compose import ColumnTransformer

In [254]:
x_train,x_test,y_train,y_test=train_test_split(df.drop("has_covid",axis=1),df["has_covid"],test_size=0.2)

In [255]:

transformer=ColumnTransformer([
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),["gender",'city'])
],remainder="passthrough")

In [256]:
x_train_t=transformer.fit_transform(x_train)

In [257]:
x_train_ohe_names=transformer.get_feature_names_out(input_features=x_train.columns)
x_train_ohe_names

array(['tnf1__fever', 'tnf2__cough', 'tnf3__gender_Male',
       'tnf3__city_Delhi', 'tnf3__city_Kolkata', 'tnf3__city_Mumbai',
       'remainder__age'], dtype=object)

In [258]:
train_transformer=pd.DataFrame(x_train_t,columns=x_train_ohe_names)
train_transformer

,tnf1__fever,tnf2__cough,tnf3__gender_Male,tnf3__city_Delhi,tnf3__city_Kolkata,tnf3__city_Mumbai,remainder__age
0,104.000000,1.0,0.0,0.0,0.0,0.0,56.0
1,101.000000,0.0,1.0,1.0,0.0,0.0,42.0
2,98.000000,0.0,0.0,0.0,1.0,0.0,26.0
3,103.000000,0.0,1.0,0.0,1.0,0.0,60.0
4,100.902778,0.0,1.0,0.0,0.0,1.0,23.0
...,...,...,...,...,...,...,...
75,99.000000,0.0,1.0,0.0,0.0,0.0,72.0
76,104.000000,0.0,0.0,0.0,0.0,0.0,18.0
77,102.000000,0.0,1.0,0.0,0.0,0.0,64.0
78,99.000000,0.0,1.0,1.0,0.0,0.0,65.0
79,100.902778,1.0,0.0,0.0,0.0,0.0,42.0

In [259]:
x_test_t=transformer.fit_transform(x_test)

In [260]:
x_test_ohe_names=transformer.get_feature_names_out(input_features=x_test.columns)
x_test_ohe_names

array(['tnf1__fever', 'tnf2__cough', 'tnf3__gender_Male',
       'tnf3__city_Delhi', 'tnf3__city_Kolkata', 'tnf3__city_Mumbai',
       'remainder__age'], dtype=object)

In [261]:
test_transformer=pd.DataFrame(x_test_t,columns=x_test_ohe_names)
test_transformer

,tnf1__fever,tnf2__cough,tnf3__gender_Male,tnf3__city_Delhi,tnf3__city_Kolkata,tnf3__city_Mumbai,remainder__age
0,104.000000,1.0,0.0,1.0,0.0,0.0,75.0
1,98.000000,0.0,0.0,1.0,0.0,0.0,80.0
2,100.000000,0.0,0.0,0.0,1.0,0.0,19.0
3,98.000000,1.0,0.0,1.0,0.0,0.0,40.0
4,104.000000,0.0,1.0,0.0,1.0,0.0,51.0
5,100.000000,1.0,0.0,0.0,0.0,0.0,47.0
6,98.000000,0.0,0.0,0.0,0.0,1.0,65.0
7,103.000000,0.0,0.0,0.0,1.0,0.0,48.0
8,99.000000,1.0,0.0,0.0,0.0,0.0,49.0
9,103.000000,0.0,0.0,1.0,0.0,0.0,73.0
10,98.000000,0.0,1.0,1.0,0.0,0.0,83.0
11,100.000000,0.0,1.0,0.0,1.0,0.0,27.0
12,103.000000,1.0,1.0,0.0,0.0,0.0,46.0
13,98.000000,1.0,0.0,0.0,1.0,0.0,10.0
14,100.000000,0.0,1.0,0.0,0.0,0.0,10.0
15,101.000000,0.0,0.0,0.0,1.0,0.0,83.0
16,100.611111,1.0,1.0,0.0,1.0,0.0,71.0
17,101.000000,1.0,1.0,0.0,0.0,0.0,14.0
18,103.000000,0.0,1.0,0.0,1.0,0.0,83.0
19,100.611111,1.0,0.0,0.0,0.0,1.0,20.0